1. Основной файл программы main.py
2. Ввести токен от Полигон Яндекс.Диск следует в main.py
3. Токен для доступа ВКонтакте указывается в модуле vk_module.py в константе VK_TEST_TOKEN
4. Результирующий json-файл называется photos.json
